<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= siteTitle %></title>
    <script src="/scripts/jQuery.js"></script>
    <link href="/images/site_logo.png" rel="icon" ></link>
    <link href="/fonts/setup.css" rel="stylesheet"></link>
    <link href="/styles/global.css" rel="stylesheet"></link>
  </head>
  <body>
    