<link href="/styles/users/partials/menu.css" rel="stylesheet"></link>

<nav class='Menu'>
    <a href='/users'><img src='/images/house.png' /></a> <a href='/users'>ទំព័រ​ដើម</a>
    <a href='/users/post'><img src='/images/movie.png' /></a> <a href='/users/post'>ការផ្សាយ</a>
    <a href='/users/category'><img src='/images/category.png' /></a> <a href='/users/category'>ជំពូក</a>
    <a href='/users/page'><img src='/images/page.png' /></a> <a href='/users/page'>ទំព័រ​ស្តាទិក</a>
    <a href='/users/upload'><img src='/images/upload.png' /></a> <a href='/users/upload'>Upload</a>
    <a href='/users/user'><img src='/images/user.png' /></a> <a href='/users/user'>អ្នក​ប្រើប្រាស់</a>
    <a href='/users/setting'><img src='/images/setting.png' /></a> <a href='/users/setting'>Settings</a>
</nav>