<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= title %></title>
    <script src="/static/scripts/jQuery.js"></script>
    <link href="/static/images/site_logo.png" rel="icon" ></link>
    <link href="/static/fonts/setup.css" rel="stylesheet"></link>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <%- include('partials/body.ejs') %>
    <%- include('partials/footer.ejs') %>
  </body>
</html>
