.Main .content form{
    width: 60%;
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 5px;
    align-items: center;
}

.Main .content form input{
    padding: 5px 10px;
}

.Main .content form input[type=submit]{
    font: var(--body-font);
}

.Main .content form a{
    text-align: right;
}