.Index_post{
    padding-bottom: 20px;
}

.Index_post .wrapper{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 15px;
    padding: 15px;
    background: var(--background-dark);
}

.Index_post .wrapper .post{
    position: relative;
    padding-top: 56.25%;
}

.Index_post .wrapper .post .thumb{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Index_post .wrapper .post .thumb img{
    width: 100%;
    min-height: 100%;
}

.Index_post .wrapper .post .play-icon{
    position: absolute;
    width: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Index_post .wrapper .post .title{
    display: block;
    position: absolute;
    bottom:0;
    left: 0;
    padding: 15px 10px 5px;
    text-shadow: 2px 2px 4px #000000;
    background: -webkit-linear-gradient(bottom, black,transparent);
    width: 100%;
    font: 16px/1.5 Oswald, Koulen;
}

.Index_post .wrapper .post .date{
    position: absolute;
    top: 5px;
    right: 5px;
    text-shadow: 2px 2px 4px #000000;
}

.Index_post .wrapper .post:nth-child(1){
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
}

.Index_post .wrapper .post:nth-child(1) .play-icon{
    width: 15%;
}



@media only screen and (max-width: 600px){
    .Index_post .wrapper{
        grid-template-columns: 100%;
    }

    .Index_post .wrapper .post:nth-child(1){
        grid-column: 1 / span 1;
        grid-row: 1 / span 1;
    }

    .Index_post .wrapper .post:nth-child(1) .play-icon{
        width: 20%;
    }
}