.Single{
    margin-top: 20px;
}

.Single .wrapper{
    display: grid;
    grid-template-columns: 70% auto;
    grid-gap: 20px;
}

.Single .wrapper .content{
    background: var(--background-dark);
    padding: 20px;
}

.Single .wrapper .content .title-outer{
    display: grid;
    grid-template-columns: auto 10%;
    align-items: center;
}

.Single .wrapper .content .title-outer .title{
    font: 22px/1.5 Oswald, Bayon;
}

.Single .wrapper .content .title-outer .edit{
    text-align: right;
}

.Single .wrapper .content .title-outer .edit img{
    width: 30px;
}

.Single .wrapper .content .video{
    position: relative;
    padding-top: 56.25%;
    margin-top: 20px;
}

.Single .wrapper .content .video iframe,
.Single .wrapper .content .video .fb-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.Single .wrapper .content .text{
    margin-top: 20px;
}

.Single .wrapper .content .playlist{
    background: var(--menu);
    border-top: 1px solid lightgrey;
    max-height: 345px;
    overflow: auto;
}

.Single .wrapper .content .episode{
    display: grid;
    grid-template-columns: 140px auto;
    grid-gap: 10px;
    align-items: center;
    padding: 3px 10px 3px 0;
    border-bottom: 1px solid lightgrey;
}

.Single .wrapper .content .episode:hover{
    cursor: pointer;
    opacity: .5;
}

.Single .wrapper .content .active{
    background: #0a1b11;
}

.Single .wrapper .content .episode:last-child{
    
}

.Single .wrapper .content .episode img{
    width: 100%;
}

.Single .wrapper .content .episode .label{
    font: 20px/1.5 StardosStencil, Limonf3;
    text-align: right;
}


@media only screen and (max-width: 600px){
    .Single .wrapper{
        grid-template-columns: 100%;
    }

    .Single .wrapper .content .title-outer{
        grid-template-columns: 100%;
    }

    .Single .wrapper .content .title-outer .edit{
        text-align: left;
        padding-top: 10px;
    }
}